DISCORD_BOT_TOKEN="YOUR_DISCORD_BOT_TOKEN_HERE"
DISCORD_GUILD_ID=123456789012345678
NEW_RELIC_LICENSE_KEY="YOUR_NEW_RELIC_LICENSE_KEY_HERE"
NEW_RELIC_APP_NAME="Discord IPTV Player - dev"
CONTROL_CHANNEL=iptv
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=discord_iptv_player
POSTGRES_SSLMODE=disable
PLAYLISTS_CONFIG_PATH=/app/playlists.yaml
